<!DOCTYPE html>
<html>

<header>
	<link rel="stylesheet" href="static/style.css">
</header>

<body>
    <div class="container">
	<div class="radio">
		<form method="post">
              	Choose which network to use: <br>
              	<input type="radio" name="model" value="CNN" checked/> Convolutional Neural Network<br>
              	<input type="radio" name="model" value="RNN"/> Recurent Neural Network<br>
              	<input type="radio" name="model" value="FF"/> Simply Connected Neural Network<br>
	</div>
        <p> </p>
        Word: <input type="text" name="word"><br>
        <input type="submit" value="Submit"><br>
	</form>
    </div>
</body>

</html>
